# local package
-e .

# Data Processing
pandas
numpy
seaborn
matplotlib

# Machine Learning
scikit-learn
xgboost
lightgbm
optuna

# Explainability
shap

# Experiment Tracking & Model Registry
mlflow

# API
fastapi
uvicorn

# Model/Data Serialization
joblib

# Configuration
python-dotenv
PyYAML

# Testing
pytest

# HTTP / API Validation
pydantic

# AWS Cloud
boto3
